<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        {#asset /asset/bootstrap.min.css @encoding=utf8}
		{#asset /asset/main.css @encoding=utf8}

		@font-face {
				font-family: 'THSarabunNew';
				src: url({#asset /asset/THSarabunNew.ttf @encoding=dataURI});
				format('truetype');
		}

		* {
				font-family: 'THSarabunNew';
		}

		.border-fit-content {
			display: inline-block;
			border: 1px solid;
			padding-left: 18px;
			padding-right:18px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
    </style>
  </head>
<body class="form-body">
	<div class="container">
		<div class="row mb-4">
			<div class="col-4">
				<div style="margin-top: 158px">ที่ <div class="text-underline" style="width:50%">{{checkEmpty letterDocumentNumber}}</div></div>
				</div>
			<div class="col-4 text-center no-margin-padding">
				<img class="garuda-img" src="{#asset /asset/garuda_logo.png @encoding=dataURI}"/>
			</div>
			<div class="col-4">
				<div class="border-fit-content" style="font-size:80px;margin-left:22px">
					ผู้ค้ำประกัน
				</div>
				<div class="text-left" style="margin-top:32px">
						<div style="width:100%">{{checkEmpty organization.orgName}}</div>
					{{!-- <div>{{checkEmptyReturnDashed organization.address.houseNo}}&nbsp;{{checkEmpty organization.address.buildingName}}</div>
					<div>หมู่&nbsp;{{checkEmptyReturnDashed organization.address.hmoo}}&nbsp;&nbsp;ถนน{{checkEmptyReturnDashed organization.address.street}}</div> --}}
					<div >ตำบล/แขวง&nbsp;{{checkEmptyReturnDashed organization.address.subDistrict}}</div>	
					<div>อำเภอ/เขต&nbsp;{{checkEmptyReturnDashed organization.address.district}}</div>
					<div >{{checkEmpty organization.address.province}}&nbsp;{{checkEmpty organization.address.zipcode}}</div>
				</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col-6"></div>
			<div class="col-6" style="padding-left:35px">{{checkEmpty letterDocumentDate}}</div>
		</div>
	</div>
	<br/>
{{#if letterTypeCNG}}
			<div class="container mb-3">
		<div class="row">
			<div class="col">
				เรื่อง ขอสืบค้นรายการทะเบียนราษฎร
			</div> 
		</div>
		<div class="row">
			<div class="col">
				เรียน ผู้อำนวยการเขต/นายอำเภอ
			</div> 
		</div>
		<div class="row">
			<div class="col">
				สิ่งที่ส่งมาด้วย 1.สำเนาบัตรประจำตัวประชาชน จำนวน 1 ฉบับ 
			</div> 
		</div>
		<div class="row">
			<div class="col" style="margin-left: 122px;">
				2.สำเนาทะเบียนบ้าน จำนวน 1 ฉบับ
			</div> 
		</div>
	</div>  
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="indent text-justify">
					<div>{{checkEmptyReturnDashed organization.orgName}} มีภารกิจในการให้บริการกู้ยืมเงินจากกองทุนผู้สูงอายุ 
						เพื่อเป็นทุนประกอบอาชีพให้กับผู้สูงอายุทั้งส่วนกลางและส่วนภูมิภาค ปัจจุบันมีลูกหนี้กองทุนผู้สูงอายุกระทำผิดสัญญากู้ยืมเงินเป็นจำนวนมาก 
						จึงต้องเร่งรัดติดตามให้ลูกหนี้ส่งใช้เงินคืนกองทุนผู้สูงอายุ เพื่อเป็นทุนหมุนเวียนสำหรับผู้สูงอายุรายอื่น ๆ 
						ได้มีโอกาสกู้ยืมเงินเป็นทุนประกอบอาชีพจากกองทุนผู้สูงอายุ</div>
				</div>  
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<div class="indent text-justify">
					{{checkEmptyReturnDashed organization.orgName}} จึงมีความประสงค์  
					สำนักงานเขต/ที่ว่าการอำเภอ ขอสืบค้นรายการทะเบียนราษฎร และขอแบบรับรองรายการทะเบียนราษฎรของ
					{{checkEmptyReturnDashed guarantor.fullName}} เลขประจำตัวประชาชน {{checkEmptyReturnDashed guarantor.idCardNo}}
					ซึ่งเป็นผู้ค้ำประกันกองทุนผู้สูงอายุที่เสียชีวิตแล้ว ได้แก่ แบบรับรองรายการทะเบียนราษฎรของผู้ตาย ใบมรณบัตร ใบเปลี่ยนชื่อตัว ชื่อสกุล (ถ้ามี) 
					แบบรับรองรายการทะเบียนราษฎรหรือสูติบัตรของทายาทโดยธรรมของผู้ตาย (ถ้ามี) ตามประมวลกฎหมายแพ่งและพาณิชย์ มาตรา 1629 
					เช่น ภรรยาหรือสามี แล้วแต่กรณี บิดา มารดา และบุตรทุกคนของผู้ตาย เป็นต้น รวมถึงใบสำคัญการสมรสของผู้ตาย (ถ้ามี)  ทั้งนี้ 
					เพื่อประโยชน์ในการดำเนินงานของทางราชการต่อไป
				</div>  
			</div>
		</div>
		<div class="row mb-5">
			<div class="col">
					<div class="indent">
						จึงเรียนมาเพื่อโปรดพิจารณา และผลเป็นประการใดกรุณาแจ้งให้ทราบด้วย และขอขอบคุณ มา ณ โอกาสนี้
					</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:50px">
			<div class="col-6"></div>
			<div class="col-6 text-left" style="padding:0">
						ขอแสดงความนับถือ
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-6 text-center">
					<div>
						<div  style="width:95%">(&nbsp{{checkEmpty organization.agreementAuthorizedTitle}}{{checkEmpty organization.agreementAuthorizedFirstname}}&nbsp&nbsp{{checkEmpty organization.agreementAuthorizedLastname}}&nbsp)</div>
					</div>
					<div>
							<div  style="width:100%">{{checkEmpty organization.agreementAuthorizedPosition}}</div>
					</div>
					<div>
							{{!-- <div class="text-underline" style="width:100%">&nbsp</div> --}}
					</div>
			</div>
			<div class="col-2"></div>
		</div>
	</div>			
{{else if letterTypeCSG}}
			<div class="container mb-3">
		<div class="row">
			<div class="col">
				เรื่อง แจ้งทายาทผู้ค้ำประกันให้ชำระหนี้กองทุนผู้สูงอายุ
			</div> 
		</div>
		<div class="row">
			<div class="col">
				เรียน <div class="text-underline" style="width:50%">ทายาทโดยธรรมของ {{checkEmptyReturnDashed guarantor.fullName}}</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col">
				สิ่งที่ส่งมาด้วย 1.สำเนาสัญญากู้ยืมเลขที่<div class="text-underline" style="width:20%">{{checkEmptyReturnDashed agreementDocumentNumber}}</div>  
				ลงวันที่ <div class="text-underline" style="width:25%">{{formatThaiDate agreementDocumentDate false}}</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col" style="margin-left: 122px;">
				2.สำเนาหนังสือค้ำประกันเลขที่ <div class="text-underline" style="width:20%">{{checkEmptyReturnDashed guaranteeDocumentNumber}}</div>  
				ลงวันที่ <div class="text-underline" style="width:25%">{{formatThaiDate guaranteeDocumentDate false}}</div>  
			</div> 
		</div>
	</div>  
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="indent text-justify">
					<div>ตามที่ {{checkEmptyReturnDashed guarantor.fullName}}  ได้ค้ำประกันการกู้ยืมเงินทุนประกอบอาชีพจากกองทุนผู้สูงอายุ ของ
						 {{checkEmptyReturnDashed borrower.fullName}} เป็นผู้กู้ยืม ในสัญญากู้ยืมเลขที่ {{checkEmptyReturnDashed agreementDocumentNumber}} ลงวันที่ {{formatThaiDate agreementDocumentDate false}}
					เป็นเงินจำนวนทั้งสิ้น {{currency loanAmount}} บาท ( {{dashed loanAmountText}} ) 
					รายละเอียดตามสิ่งที่ส่งมาด้วย โดยตกลงว่าจะชำระหนี้แทนผู้กู้ยืมเมื่อผู้กู้ยืมผิดนัดชำระหนี้ ต่อมาผู้ค้ำประกันเสียชีวิต ซึ่งท่านทราบดีแล้ว นั้น  </div>
				</div>  
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<div class="indent text-justify">
					{{checkEmptyReturnDashed organization.orgName}} ขอแจ้งท่านในฐานะทายาทโดยธรรมที่มีสิทธิรับมรดกของผู้ค้ำประกันทราบว่า ขณะนี้ผู้กู้ยืมผิดนัดชำระหนี้สัญญากู้ยืมเงินทุนประกอบอาชีพจากกองทุนผู้สูงอายุ โดยข้อมูล ณ วันที่ 
					{{formatThaiDate asOfDate false}} เป็นเงินจำนวนทั้งสิ้น 
					{{currency outstandingDebtBalance}} บาท ( {{dashed outstandingDebtBalanceText}} ) 
					ดังนั้น จึงขอให้ท่านนำเงินไปชำระหนี้คืนกองทุนผู้สูงอายุทั้งหมด ภายใน 10 วัน นับแต่วันที่ได้รับหนังสือฉบับนี้ ที่ร้านสะดวกซื้อ 7-Eleven ทุกสาขาทั่วประเทศ หรือร้านค้าที่มีตราสัญลักษณ์เคาน์เตอร์เซอร์วิส โดยให้ท่านแจ้งเลขบัตรประจำตัวประชาชนของผู้กู้ยืม พร้อมจำนวนเงินที่ต้องชำระหนี้คืนกับพนักงานร้านสะดวกซื้อหรือร้านค้าดังกล่าว หากพ้นกำหนดเวลาแล้ว ท่านยังคงเพิกเฉยไม่ชำระหนี้คืนกองทุนผู้สูงอายุ
					{{checkEmptyReturnDashed organization.orgName}} มีความจำเป็นต้องดำเนินการทางกฎหมายกับท่านต่อไป
				</div>  
			</div>
		</div>
		<div class="row mb-5">
			<div class="col">
					<div class="indent">
						จึงเรียนมาเพื่อดำเนินการ และ<div class="text-underline">ขออภัยหากท่านได้ชำระเงินก่อนได้รับหนังสือฉบับนี้ </div>
					</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:50px">
			<div class="col-6"></div>
			<div class="col-6 text-left" style="padding:0">
						ขอแสดงความนับถือ
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-6 text-center">
					<div>
						<div  style="width:95%">(&nbsp{{checkEmpty organization.agreementAuthorizedTitle}}{{checkEmpty organization.agreementAuthorizedFirstname}}&nbsp&nbsp{{checkEmpty organization.agreementAuthorizedLastname}}&nbsp)</div>
					</div>
					<div>
							<div  style="width:100%">{{checkEmpty organization.agreementAuthorizedPosition}}</div>
					</div>
					<div>
							{{!-- <div class="text-underline" style="width:100%">&nbsp</div> --}}
					</div>
			</div>
			<div class="col-2"></div>
		</div>
	</div>			
				{{else}}
				<div class="container mb-3">
		<div class="row">
			<div class="col">
				เรื่อง แจ้งการผิดนัดชำระหนี้กองทุนผู้สูงอายุ
			</div> 
		</div>
		<div class="row">
			<div class="col">
				เรียน <div class="text-underline" style="width:29.5%">{{checkEmptyReturnDashed guarantor.fullName}}</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col">
				อ้างถึง หนังสือสัญญาค้ำประกันเลขที่ <div class="text-underline" style="width:16%">{{checkEmptyReturnDashed guaranteeDocumentNumber}}</div>  
				ลงวันที่ <div class="text-underline" style="width:25%">{{formatThaiDate guaranteeDocumentDate false}}</div>  
			</div> 
		</div>
	</div>  
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="indent text-justify">
					<div>ตามหนังสือที่อ้างถึง ท่านได้ค้ำประกันการกู้ยืมเงินทุนประกอบอาชีพจากกองทุนผู้สูงอายุของ</div>
					<div class="text-underline" style="width:32%">{{checkEmptyReturnDashed borrower.fullName}}</div> ตามสัญญากู้ยืมเลขที่ <div class="text-underline" style="width:17%">{{checkEmptyReturnDashed agreementDocumentNumber}}</div> ลงวันที่ <div class="text-underline" style="width:23%">{{formatThaiDate agreementDocumentDate false}}</div>
					เป็นเงินจำนวน <div class="text-underline" style="width:28%">{{currency loanAmount}}</div> บาท (<div class="text-underline" style="width:38%">{{dashed loanAmountText}}</div>) นั้น
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<div class="indent text-justify">
					{{checkEmptyReturnDashed organization.orgName}}&nbsp;ขอแจ้งท่านในฐานะผู้ค้ำประกันทราบว่าขณะนี้ผู้กู้ยืมผิดนัดชำระหนี้    ไม่เป็นไปตามสัญญากู้ยืมเงินทุนประกอบอาชีพจากกองทุนผู้สูงอายุ โดยข้อมูล ณ วันที่
					<div class="text-underline" style="width:25%">{{formatThaiDate asOfDate false}}</div> 
					เป็นเงินคงเหลือทั้งหมดจำนวน <div class="text-underline" style="width:38%">{{currency outstandingDebtBalance}}</div>บาท (<div class="text-underline" style="width:54%">{{dashed outstandingDebtBalanceText}}</div>) 
					ดังนั้น จึงขอให้ท่านและหรือผู้กู้ยืมนำเงินไปชำระหนี้คืนกองทุนผู้สูงอายุทั้งหมด ภายใน 10 วัน นับแต่วันที่ได้รับหนังสือฉบับนี้ ที่ร้านสะดวกซื้อ 7-Eleven ทุกสาขาทั่วประเทศ หรือร้านค้าที่มีตราสัญลักษณ์เคาน์เตอร์เซอร์วิส โดยแจ้งเลขที่บัตรประจำตัวประชาชนของผู้กู้ยืมพร้อมจำนวนเงินที่ต้องชำระคืน หากพ้นกำหนดเวลาดังกล่าว แล้วท่านและหรือผู้กู้ยืมยังคงเพิกเฉยไม่ชำระหนี้คืนกองทุนผู้สูงอายุ 
					{{checkEmptyReturnDashed organization.orgName}}มีความจำเป็นต้องดำเนินการทางกฎหมายต่อไป
				</div>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col">
				<div class="indent">
					จึงเรียนมาเพื่อดำเนินการ และ<div class="text-underline">ขออภัยหากท่านและหรือผู้กู้ยืมได้ชำระเงินก่อนได้รับหนังสือฉบับนี้</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:50px">
			<div class="col-6"></div>
			<div class="col-6 text-left" style="padding:0">
						ขอแสดงความนับถือ
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-6 text-center">
					<div>
						<div  style="width:95%">(&nbsp{{checkEmpty organization.agreementAuthorizedTitle}}{{checkEmpty organization.agreementAuthorizedFirstname}}&nbsp&nbsp{{checkEmpty organization.agreementAuthorizedLastname}}&nbsp)</div>
					</div>
					<div>
							<div  style="width:100%">{{checkEmpty organization.agreementAuthorizedPosition}}</div>
					</div>
					<div>
							{{!-- <div class="text-underline" style="width:100%">&nbsp</div> --}}
					</div>
			</div>
			<div class="col-2"></div>
		</div>
	</div>

				{{/if}}
	
	<div class="container footer">
		<div class="row">
			<div class="col-12">
				<div>
					<div class="text-underline">{{checkEmptyReturnDashed organization.orgName}}</div>
					<br/>โทร <div class="text-underline" style="width:24%">{{checkEmptyReturnDashed organization.telephone}}</div>
				</div>
			</div>
		</div>
	</div>
		
	
</body>
</html>
