<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<style>
		{#asset /asset/bootstrap.min.css @encoding=utf8}
		{#asset /asset/main.css @encoding=utf8}

		@font-face {
			font-family: 'THSarabunNew';
			src: url({#asset /asset/THSarabunNew.ttf @encoding=dataURI});
			format('truetype');
		}

		* {
			font-family: 'THSarabunNew';
		}

	</style>
</head>

<body class="form-body" >
	<div class="container">
		<div class="row mb-4">
			<div class="col-2">

			</div>
			<div class="col-8 text-center">
				<img src="{#asset /asset/logo.png @encoding=dataURI}" />
				<h1>
					เอกสารแนบท้ายสัญญากู้ยืมเงินทุนประกอบอาชีพ<br> กองทุนผู้สูงอายุ ประเภทรายบุคคล
				</h1>
			</div>
			<div class="col-2">
			</div> 
		</div>
	</div>
	<div class="container">
		<div class="row" ">
			<div class="col">
				<div class="indent text-justify-last mt-2">
						ตามสัญญากู้เลขที่ <div class="text-underline" style="width:25%" >{{documentNumber}}</div>
						ลงวันที่ <div class="text-underline" style="width:30%" >{{formatThaiDate documentDate}}</div> 
				</div> 
				<div class="col">
					<div class="row mb-4">
						<div class="col-12">
							<span>ข้อที่ 1 </span><span class="pl-2">ผู้กู้ยืมตกลงผ่อนชำระผู้ให้กู้ยืมงวดแรก ภายในวันที่ </span><div class="text-underline mb-2 pull-right"  style="width:30%" >{{#if installmentFirstDate}}{{formatThaiDate installmentFirstDate}}{{else}}&nbsp{{/if}}</div>
						</div>
						<div class="col-12">
							<span>ข้อที่ 2 </span><span class="pl-2">ผู้กู้ยืมรับทราบและตกลงชำระเงินกู้ยืม ที่ เคาน์เตอร์เซอร์วิส หรือร้านสะดวกซื้อ 7- eleven ทุกสาขา  โดยแจ้งเลขที่บัตรประจำตัวประชาชนของผู้กู้ยืมและจำนวนเงินที่ต้องการชำระ</span>
						</div>
						<div class="col-12">
							<span>ข้อที่ 3 </span><span class="pl-2">กรณีชำระเงินผ่านเคาน์เตอร์เซอร์วิส ต้องนำสมุดคู่บัญชีการกู้ยืมเงินทุนประกอบอาชีพผู้สูงอายุ มาลงรายการบัญชีทุก 3 เดือน/งวด</span>
						</div>
						<div class="col-12">
							<span>ข้อที่ 4 </span><span class="pl-2">ให้ถือว่าเอกสารฉบับนี้เป็นส่วนหนึ่งของสัญญากู้ยืมเงินทุนประกอบอาชีพกองทุนผู้สูงอายุ</span>
						</div>
						<div class="col-12">
							<span>ข้อที่ 5 </span><span class="pl-2">ผู้กู้ยืมต้องผ่อนชำระหนี้กู้ยืมเงินกองทุนผู้สูงอายุเป็นรายเดือนทุกเดือน เดือนละงวด</span>
							<div class="text-justify-last">
							<span class="">โดย ชำระหนี้งวดที่ 1 ถึง งวดที่ </span>
							<div class="text-underline mb-2 pull-right"  style="width:6%" >{{checkEmptyReturnDashed installmentTimesAttached}}</div>
							งวดละ
							<div class="text-underline mb-2 pull-right"  style="width:52%" >{{currency installmentAmount}}</div>
							<span class="pl-2">บาท </span>
							<br/>
							<span style="margin-left:205px" class="pl-2">(</span>
							<div class="text-underline mb-2 pull-right"  style="width:72%" >{{dashed installmentAmountText}}</div>
							<span class="pl-2">)</span>
							</div>
							{{#if installmentLastAmount}}
								<div class="indent text-justify-last" style="margin-left:73px">
									งวดสุดท้ายชำระ
									<div class="text-underline mb-2 pull-right"  style="width:58%;" >{{currency installmentLastAmount}}</div>
									<span class="pl-2">บาท </span>
									<br/>
									<span style="margin-left:133px" class="pl-2">(</span>
									<div class="text-underline mb-2 pull-right"  style="width:78%" >{{dashed installmentLastAmountText}}</div>
									<span class="pl-2">)</span>
								</div>
							{{else}}
								<div></div>
							{{/if}}
						</div>
					</div>
				</div> 
				<div class= "indent text-justify-last mt-4" >
					ผู้กู้ยืมได้อ่านและเข้าใจวิธีการชำระเงินตามเอกสารแนบท้ายสัญญาฉบับนี้โดยตลอดครบถ้วนแล้ว จึงได้ลงลายมือชื่อไว้เป็นหลักฐาน
				</div>           
			</div>
		</div>	
		<br/>
		<br/>
		<div class="row text-right">
			<div class="col-6 ">
			</div>
			<div class="col-6">
				<div>
					ลงชื่อ<div class="text-underline" style="width:75% ;" >
						&nbsp
					</div>ผู้กู้ยืม<br/>
					(<div class="text-underline" style="width:96% ;" >
						{{checkEmptyReturnDashed borrower.fullName}} 
					</div>)
				</div>
			</div>
		</div>
	</div>
	<div class="container footer">
		<div class="row">
			<div class="col-12">
				<div>
					<div class="text-underline">{{checkEmptyReturnDashed organization.orgName}}</div>
					<br/>โทร <div class="text-underline" style="width:24%">{{checkEmptyReturnDashed organization.telephone}}</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
