<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        {#asset /asset/table-style.css @encoding=utf8}

        @font-face {
            font-family: 'THSarabunNew';
            src: url({#asset /asset/THSarabunNew.ttf @encoding=dataURI});
            format('truetype');
        }

        
        .table-th-lightgrey {
            background-color: #ebebeb;
        }

        .table-th-darkgrey {
            background-color: #d9d9d9; 
        }

        .table-th-green {
            background-color: #d1e6c9; 
        }

        .table-th-blue {
            background-color: #bed0f6;
        }

        .table-th-yellow {
            background-color: #fff2cc;
        }

        .table-th-red {
            background-color: #f0c0c1;
        }

        .row-color-lightgrey > td {
            background-color: #ebebeb;
        }


    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th colspan="17">{{title1}}</th>
            </tr>
            <tr>
                <th colspan="17">{{title2}}</th>
            </tr>
            <tr>
                <th colspan="17">ข้อมูล ณ วันที่ {{reportDataDate}}</th>
            </tr>
        </thead>
        <thead class="table-thread-bordered">
            <tr>
                <th class="table-th-lightgrey" rowspan="3">ภาค</th>
                <th class="table-th-lightgrey" rowspan="3">หน่วยงานที่รับผิดชอบ (จังหวัด)</th>
                <th class="table-th-yellow" colspan="5">คำร้องทั้งหมด</th>
                <th class="table-th-green" colspan="4">คำร้องที่พิจารณาโดยที่ประชุม</th>
                <th class="table-th-blue" colspan="6">ผลการกู้</th>
            </tr>
            <tr>
                <th class="table-th-yellow" rowspan="2">จำนวนเงินที่ขอ (บาท)</th>
                <th class="table-th-yellow" rowspan="2">สมควรให้กู้ยืม (ราย)</th>
                <th class="table-th-yellow" rowspan="2">ไม่สมควรให้กู้ยืม (ราย)</th>
                <th class="table-th-yellow" rowspan="2">รอการตรวจสอบข้อเท็จจริง (ราย)</th>
                <th class="table-th-yellow" rowspan="2">รวม (ราย)</th>
                <th class="table-th-green" rowspan="2">จำนวนเงินที่อนุมัติ (บาท)</th>
                <th class="table-th-green" rowspan="2">อนุมัติ (ราย)</th>
                <th class="table-th-green" rowspan="2">ไม่อนุมัติ (ราย)</th>
                <th class="table-th-green" rowspan="2">รวม (ราย)</th>
                <th class="table-th-blue" rowspan="2">จำนวนเงินที่ทำสัญญาแล้ว (บาท)</th>
                <th class="table-th-blue" colspan="5">รายการสัญญาแยกตามสถานะ</th>
            </tr>
              <tr>
                <th class="table-th-blue">ทำสัญญาแล้ว (ราย)</th>
                <th class="table-th-blue">ยกเลิก (ราย)</th>
                <th class="table-th-blue">สละสิทธิ์ (ราย)</th>
                <th class="table-th-blue">ระหว่างดำเนินการ (ราย)</th>
                <th class="table-th-blue">รวม</th>
            </tr>
        </thead>
        <tbody class="table-body-bordered">
            {{#each data}}
                {{calculateTotalSummaryRow @root.data @index}}
                {{calculateSummaryRow @root.data @index}}
                <tr>
                    <td>{{renderRegionText @root.data @index}}</td>
                    <td>{{checkEmpty orgName}}</td>
                    <td class="text-right">{{currency totalRequestBudget true}}</td>
                    <td class="text-right">{{checkEmpty totalPassedQualification}}</td>
                    <td class="text-right">{{checkEmpty totalNotPassedQualification}}</td>
                    <td class="text-right">{{checkEmpty totalNotCheckedQualification}}</td>
                    <td class="text-right">{{checkEmpty totalRequest}}</td>
                    <td class="text-right">{{currency resultToTalApproveBudget true}}</td>
                    <td class="text-right">{{checkEmpty resultTotalApprove}}</td>
                    <td class="text-right">{{checkEmpty resultTotalReject}}</td>d>
                    <td class="text-right">{{checkEmpty resultTotal}}</td>
                    <td class="text-right">{{currency totalLoanAmount true}}</td>
                    <td class="text-right">{{totalDoneAgreement}}</td>
                    <td class="text-right">{{totalCancelAgreement}}</td>
                    <td class="text-right">{{totalDisclaimAgreement}}</td>
                    <td class="text-right">{{totalPendingAgreement}}</td>
                    <td class="text-right">{{totalAgreement}}</td>
                </tr>

                {{#if (isLastOfRegion @root.data @index)}}
                    <tr class="row-color-lightgrey">
                        <td colspan="2" class="text-right">รวม</td>
                        <td class="text-right">{{currency (renderSummaryRow "totalRequestBudget") true}}</td>
                        <td class="text-right">{{renderSummaryRow "totalPassedQualification"}}</td>
                        <td class="text-right">{{renderSummaryRow "totalNotPassedQualification"}}</td>
                        <td class="text-right">{{renderSummaryRow "totalNotCheckedQualification"}}</td>
                        <td class="text-right">{{renderSummaryRow "totalRequest"}}</td>
                        <td class="text-right">{{currency (renderSummaryRow "resultToTalApproveBudget") true}}</td>
                        <td class="text-right">{{renderSummaryRow "resultTotalApprove"}}</td>
                        <td class="text-right">{{renderSummaryRow "resultTotalReject"}}</td>
                        <td class="text-right">{{renderSummaryRow "resultTotal"}}</td>
                        <td class="text-right">{{currency (renderSummaryRow "totalLoanAmount") true}}</td>
                        <td class="text-right">{{renderSummaryRow "totalDoneAgreement"}}</td>
                        <td class="text-right">{{renderSummaryRow "totalCancelAgreement"}}</td>
                        <td class="text-right">{{renderSummaryRow "totalDisclaimAgreement"}}</td>
                        <td class="text-right">{{renderSummaryRow "totalPendingAgreement"}}</td>
                        <td class="text-right">{{renderSummaryRow "totalAgreement"}}</td>
                    </tr>
                {{/if}}
                {{resetSummaryData @root.data @index}}
            {{/each}}
            {{#if (isShowTotal)}}
                    <tr class="row-color-lightgrey">
                        <td colspan="2" class="text-right">รวมทั้งหมด</td>
                        <td class="text-right">{{currency (renderTotalSummaryRow "totalRequestBudget") true}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "totalPassedQualification"}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "totalNotPassedQualification"}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "totalNotCheckedQualification"}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "totalRequest"}}</td>
                        <td class="text-right">{{currency (renderTotalSummaryRow "resultToTalApproveBudget") true}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "resultTotalApprove"}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "resultTotalReject"}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "resultTotal"}}</td>
                        <td class="text-right">{{currency (renderTotalSummaryRow "totalLoanAmount") true}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "totalDoneAgreement"}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "totalCancelAgreement"}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "totalDisclaimAgreement"}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "totalPendingAgreement"}}</td>
                        <td class="text-right">{{renderTotalSummaryRow "totalAgreement"}}</td>
                    </tr>
            {{/if}}
        </tbody>
    </table>
</body>

</html>