<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<style>
		{#asset /asset/bootstrap.min.css @encoding=utf8}
		{#asset /asset/main.css @encoding=utf8}

		@font-face {
			font-family: 'THSarabunNew';
			src: url({#asset /asset/THSarabunNew.ttf @encoding=dataURI});
			format('truetype');
		}

		* {
			font-family: 'THSarabunNew';
		}

	</style>
</head>

<body class="form-body2" >
	<div class="container" style="position:relative;overflow:hidden;">
		<div class="row" ">
			<div class="col">
				<div  class= "text-justify"  >
					<div style="border-style: solid; padding: 8px;" >
					สัญญากู้เลขที่ <div class="text-underline" style="width:20%" >{{agreement.documentNumber}}</div> ลงวันที่ <div class="text-underline" style="width:20%" >{{formatThaiDate agreement.documentDate}}</div> รับเงินวันที่ <div class="text-underline" style="width:20%" >{{formatThaiDate startDate}}</div><span style="display: inline-block; width: 100%;"></span>
					จำนวนเงิน <div class="text-underline" style="width:20%" >{{currency agreement.loanAmount true}}</div> บาท	ผ่อนชำระ <div class="text-underline" style="width:15%" >{{agreement.installmentTimes}}</div> งวด งวดละ <div class="text-underline"style="width:15%" >{{agreement.installmentPeriodValue}}</div> เดือน <span style="display: inline-block; width: 100%;"></span>
					งวดละ <div class="text-underline" style="width:15%" >{{currency agreement.installmentAmount true}}</div> บาท ผ่อนชำระงวดแรกวันที่ <div  class="text-underline" style="width:20%" >{{formatThaiDate agreement.installmentFirstDate}}</div> จำนวน <div class="text-underline"  style="width:15%" >{{currency agreement.installmentAmount true}}</div> บาท <span style="display: inline-block; width: 100%;"></span>
                    <span class="text-not-justify">งวดสุดท้ายวันที่ <div class="text-underline" style="width:20%" >{{formatThaiDate agreement.installmentLastDate}}</div> จำนวน <div class="text-underline" style="width:15%" >{{currency (getInstallmentLastAmount agreement.installmentAmount agreement.installmentLastAmount) true}}</div> บาท</span>


					ชื่อผู้กู้ <div  class="text-underline"  style="width:45%" >{{agreement.borrower.fullName}}</div></br>
					บ้านเลขที่ <div  class="text-underline"  style="width:12%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.houseNo}}</div> หมู่ที่ <div class="text-underline"  style="width:5%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.hmoo}}</div> ตรอก/ซอย <div class="text-underline"  style="width:22%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.soi}}</div>ถนน <div class="text-underline"  style="width:27%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.street}}</div><span style="display: inline-block; width: 100%;"></span>
					แขวง/ตำบล <div class="text-underline" style="width:35%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.subDistrict}}</div> เขต/อำเภอ <div class="text-underline"  style="width:35%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.district}}</div><span style="display: inline-block; width: 100%;"></span>
                    <div  class= "text-not-justify"  >
					จังหวัด <div class="text-underline"  style="width:32%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.province}}</div> โทรศัพท์ <div class="text-underline"  style="width:20%" >{{checkEmptyReturnDashed agreement.borrowerTelephone}}</div><span style="display: inline-block; width: 100%;"></span>
					</div>
					วัตถุประสงค์ที่ขอกู้ <div class="text-underline"  style="width:81%" >{{checkOccupationDescription agreement.request.requestOccupation.name agreement.request.requestOccupation.description}}</div><span style="display: inline-block; width: 100%;"></span>
					ชื่อผู้ค้ำประกัน <div class="text-underline"  style="width:31%" >{{guarantee.guarantor.fullName}}</div> บัตรประจำตัวประชาชนเลขที่ <div class="text-underline" style="width:24%" >{{guarantee.guarantor.idCardNo}}</div><span style="display: inline-block; width: 100%;"></span>
					บ้านเลขที่ <div  class="text-underline"  style="width:12%" >{{checkEmptyReturnDashed guarantee.guarantorRegisteredAddress.houseNo}}</div> หมู่ที่ <div class="text-underline"  style="width:5%" >{{checkEmptyReturnDashed guarantee.guarantorRegisteredAddress.hmoo}}</div> ตรอก/ซอย <div class="text-underline"  style="width:22%" >{{checkEmptyReturnDashed guarantee.guarantorRegisteredAddress.soi}}</div>ถนน <div class="text-underline"  style="width:27%" >{{checkEmptyReturnDashed guarantee.guarantorRegisteredAddress.street}}</div><span style="display: inline-block; width: 100%;"></span>
					แขวง/ตำบล <div class="text-underline" style="width:35%" >{{checkEmptyReturnDashed guarantee.guarantorRegisteredAddress.subDistrict}}</div> เขต/อำเภอ <div class="text-underline"  style="width:35%" >{{checkEmptyReturnDashed guarantee.guarantorRegisteredAddress.district}}</div><span style="display: inline-block; width: 100%;"></span>
                    <div  class= "text-not-justify"  >
					จังหวัด <div class="text-underline"  style="width:32%" >{{checkEmptyReturnDashed guarantee.guarantorRegisteredAddress.province}}</div> โทรศัพท์ <div class="text-underline"  style="width:20%" >{{checkEmptyReturnDashed guarantee.guarantorTelephone}}</div><span style="display: inline-block; width: 100%;"></span>
					</div>
					ที่ทำงานผู้ค้ำประกัน <div class="text-underline"  style="width:78%" >{{guarantee.guarantorCompanyName}}</div><span style="display: inline-block; width: 100%;"></span>
					<span class="text-nowrap">โทรศัพท์ <div class="text-underline"  style="width:20%" >{{agreement.request.guarantorCompanyTelephone}}</div> อาชีพ <div class="text-underline"  style="width:40%" >{{guarantee.guarantorOccupation.name}}</span>
					</div>			
				</div>
				</br>
				</br>
				<div style="border-style: solid; padding: 8px;" >
					<h1>สมุดคู่บัญชีการชำระเงินกู้ยืม กองทุนผู้สูงอายุ</h1>
					<div class= "text-justify">
						ชื่อผู้กู้ <div  class="text-underline"  style="width:45%" >{{agreement.borrower.fullName}}</div></br>
						บ้านเลขที่ <div  class="text-underline"  style="width:12%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.houseNo}}</div> หมู่ที่ <div class="text-underline"  style="width:5%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.hmoo}}</div> ตรอก/ซอย <div class="text-underline"  style="width:22%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.soi}}</div>ถนน <div class="text-underline"  style="width:27%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.street}}</div><span style="display: inline-block; width: 100%;"></span>
						แขวง/ตำบล <div class="text-underline" style="width:35%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.subDistrict}}</div> เขต/อำเภอ <div class="text-underline"  style="width:35%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.district}}</div><span style="display: inline-block; width: 100%;"></span>
						<div  class= "text-not-justify"  >
						จังหวัด <div class="text-underline"  style="width:32%" >{{checkEmptyReturnDashed agreement.borrowerRegisteredAddress.province}}</div> โทรศัพท์ <div class="text-underline"  style="width:20%" >{{checkEmptyReturnDashed agreement.borrowerTelephone}}</div><span style="display: inline-block; width: 100%;"></span>
						</div>
					</div>           
					
					<h1>รายการกู้ยืมเงิน</h1>
					<div class= "text-justify"  >
						เลขที่สัญญา<div class="text-underline" style="width:18%" >{{agreement.documentNumber}}</div>จำนวนเงินกู้ยืม<div class="text-underline" style="width:12%" >{{currency loanAmount true}}</div>บาท(<div class="text-underline" style="width:38%" >{{agreement.loanAmountText}}</div>)<span style="display: inline-block; width: 100%;"></span>
						{{!-- <div  class= "text-not-justify"  > --}}
						จำนวนงวดที่ชำระ<div class="text-underline" style="width:5%" >{{agreement.installmentTimes}}</div>งวด วันที่เริ่มชำระ<div class="text-underline" style="width:22%" >{{formatThaiDate agreement.installmentFirstDate}}</div>วันที่ชำระเสร็จสิ้น<div class="text-underline" style="width:22%" >{{formatThaiDate agreement.installmentLastDate}}</div><span style="display: inline-block; width: 100%;"></span>
						ลายมือชื่อผู้กู้ยืมเงิน <div class="text-underline" style="width:50%" ></div></br>
						ลายมือชื่อเจ้าหน้าที่ <div class="text-underline" style="width:50%" ></div> วันที่ <div class="text-underline" style="width:20%" ></div>
						{{!-- </div> --}}
					</div>
				</div>
				

				<div style="page-break-before: always;"></div>

				<div  class="row  " style={{displayBarcode barcode}}><img src="data:image/png;base64, {{barcode}}"></img></div>	

				</br></br></br>
				<div style="border-style: solid; padding: 8px;" >
				<h1>ชำระเงินผ่านระบบอินเตอร์เน็ตแบงค์กิ้งธนาคารกรุงไทย</h1>
				<div class= "text-not-justify"  >
					1. เลขที่บัตรประชาชนของลูกหนี้ <div  class="text-underline text-not-justify" style="width:50%" >{{agreement.borrower.idCardNo}}</div><span style="display: inline-block; width: 100%;"></span>
					2. เลขที่สัญญาเงินกู้ <div  class="text-underline text-not-justify" style="width:62%" >{{agreement.id}}</div><span style="display: inline-block; width: 100%;"></span>
					3. จำนวนเงิน <div  class="text-underline text-not-justify" style="width:68%" >{{currency agreement.installmentAmount true}}</div><span style="display: inline-block; width: 100%;"></span>
					4. ตรวจสอบจำนวนเงินที่ต้องการชำระและยืนยันการชำระ <span style="display: inline-block; width: 100%;"></span>

				</div>		
				</div>		
       
	</div>
</body>

</html>
