<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
		{#asset /asset/bootstrap.min.css @encoding=utf8}
		{#asset /asset/main.css @encoding=utf8}

		@font-face {
			font-family: 'THSarabunNew';
			src: url({#asset /asset/THSarabunNew.ttf @encoding=dataURI});
			format('truetype');
		}

		* {
			font-family: 'THSarabunNew';
		}

		.border-fit-content {
			display: inline-block;
			border: 1px solid;
			padding-left: 18px;
			padding-right:18px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
    </style>
  </head>
<body class="form-body">
	<div class="container">
		<div class="row mb-4">
			<div class="col-4">
				<div style="margin-top: 158px">ที่ <div class="text-underline" style="width:50%">{{checkEmpty letterDocumentNumber}}</div></div>
				</div>
			<div class="col-4 text-center no-margin-padding">
				<img class="garuda-img" src="{#asset /asset/garuda_logo.png @encoding=dataURI}"/>
			</div>
			<div class="col-4">
				<div class="border-fit-content" style="font-size:100px;margin-left:50px">
					ผู้กู้ยืม
				</div>
				<div class="text-left" style="margin-top:32px">
					<div style="width:100%">{{checkEmpty organization.orgName}}</div>
					{{!-- <div>{{checkEmptyReturnDashed organization.address.houseNo}}&nbsp;{{checkEmpty organization.address.buildingName}}</div>
					<div>หมู่&nbsp;{{checkEmptyReturnDashed organization.address.hmoo}}&nbsp;&nbsp;ถนน{{checkEmptyReturnDashed organization.address.street}}</div> --}}
					<div >ตำบล/แขวง&nbsp;{{checkEmptyReturnDashed organization.address.subDistrict}}</div>	
					<div>อำเภอ/เขต&nbsp;{{checkEmptyReturnDashed organization.address.district}}</div>
					<div >{{checkEmpty organization.address.province}}&nbsp;{{checkEmpty organization.address.zipcode}}</div>
				</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col-6"></div>
			<div class="col-6" style="padding-left:35px">{{checkEmpty letterDocumentDate}}</div>
		</div>
	</div>
	<br/>
	{{#if letterTypeCSB}}
			<div class="container mb-3">
		<div class="row">
			<div class="col">
				เรื่อง แจ้งทายาทผู้กู้ยืมให้ชำระหนี้กองทุนผู้สูงอายุ
			</div> 
		</div>
		<div class="row">
			<div class="col">
				เรียน <div class="text-underline" style="width:50%">ทายาทโดยธรรมของ {{checkEmptyReturnDashed borrower.fullName}}</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col">
				สิ่งที่ส่งมาด้วย 1.สำเนาสัญญากู้ยืมเลขที่ <div class="text-underline" style="width:20%">{{checkEmptyReturnDashed agreementDocumentNumber}}</div>  
				 ลงวันที่ <div class="text-underline" style="width:25%">{{formatThaiDate agreementDocumentDate false}}</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col" style="margin-left: 122px;">
				2.สำเนาหนังสือค้ำประกันเลขที่ <div class="text-underline" style="width:20%">{{checkEmptyReturnDashed guaranteeDocumentNumber}}</div>  
				 ลงวันที่ <div class="text-underline" style="width:25%">{{formatThaiDate guaranteeDocumentDate false}}</div>  
			</div> 
		</div>
	</div>  
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="indent text-justify">
					<div>ตามที่ {{checkEmptyReturnDashed borrower.fullName}}  ได้กู้ยืมเงินทุนประกอบอาชีพจากกองทุนผู้สูงอายุ เมื่อวันที่
					{{formatThaiDate agreementDocumentDate false}}  โดยมี {{checkEmptyReturnDashed guarantor.fullName}} เป็นผู้ค้ำประกัน เป็นจำนวนเงินทั้งสิ้น
					{{currency loanAmount}} บาท ( {{dashed loanAmountText}} ) 
					รายละเอียดตามสิ่งที่ส่งมาด้วย 1 และ 2 ต่อมาผู้กู้ยืมเสียชีวิต ซึ่งท่านทราบดีแล้ว นั้น </div>
				</div>  
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<div class="indent text-justify">
					{{checkEmptyReturnDashed organization.orgName}} ขอแจ้งท่านในฐานะทายาทโดยธรรมที่มีสิทธิรับมรดกของผู้กู้ยืมทราบว่า โดยข้อมูล ณ วันที่ 
					{{formatThaiDate asOfDate false}} ผู้กู้ยืมดังกล่าวยังมีหนี้ค้างชำระเป็นเงินจำนวนทั้งสิ้น {{currency outstandingDebtBalance}} บาท 
					( {{dashed outstandingDebtBalanceText}} ) 
					ดังนั้น จึงขอให้ท่านนำเงินไปชำระหนี้คืนกองทุนผู้สูงอายุทั้งหมด ภายใน 10 วัน นับแต่วันที่ได้รับหนังสือฉบับนี้ ที่ร้านสะดวกซื้อ 7-Eleven ทุกสาขาทั่วประเทศ หรือร้านค้าที่มีตราสัญลักษณ์เคาน์เตอร์เซอร์วิส โดยให้ท่านแจ้งเลขบัตรประจำตัวประชาชนของผู้กู้ยืมที่เสียชีวิต พร้อมจำนวนเงินที่ต้องชำระหนี้คืนกับพนักงานร้านสะดวกซื้อหรือร้านค้าดังกล่าว หากพ้นกำหนดเวลาแล้ว ท่านยังคงเพิกเฉยไม่ชำระหนี้คืนกองทุนผู้สูงอายุ 
					{{checkEmptyReturnDashed organization.orgName}} มีความจำเป็นต้องดำเนินการทางกฎหมายกับท่านต่อไป
				</div>  
			</div>
		</div>
		<div class="row mb-5">
			<div class="col">
					<div class="indent">
						จึงเรียนมาเพื่อดำเนินการ และ<div class="text-underline">ขออภัยหากท่านได้ชำระเงินก่อนได้รับหนังสือฉบับนี้ </div>
					</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:50px">
			<div class="col-6"></div>
			<div class="col-6 text-left" style="padding:0">
						ขอแสดงความนับถือ
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-6 text-center">
					<div>
						<div  style="width:95%">(&nbsp{{checkEmpty organization.agreementAuthorizedTitle}}{{checkEmpty organization.agreementAuthorizedFirstname}}&nbsp&nbsp{{checkEmpty organization.agreementAuthorizedLastname}}&nbsp)</div>
					</div>
					<div>
							<div  style="width:100%">{{checkEmpty organization.agreementAuthorizedPosition}}</div>
					</div>
					<div>
							{{!-- <div class="text-underline" style="width:100%">&nbsp</div> --}}
					</div>
			</div>
			<div class="col-2"></div>
		</div>
	</div>				
	{{else}}
		<div class="container mb-3">
		<div class="row">
			<div class="col">
				เรื่อง แจ้งการผิดนัดชำระหนี้กองทุนผู้สูงอายุ
			</div> 
		</div>
		<div class="row">
			<div class="col">
				เรียน <div class="text-underline" style="width:32.5%">{{checkEmptyReturnDashed borrower.fullName}}</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col">
				อ้างถึง สัญญากู้ยืมเลขที่ <div class="text-underline" style="width:16%">{{checkEmptyReturnDashed agreementDocumentNumber}}</div>  
				ลงวันที่ <div class="text-underline" style="width:25%">{{formatThaiDate agreementDocumentDate false}}</div>  
			</div> 
		</div>
	</div>  
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="indent text-justify">
					<div>ตามสัญญาที่อ้างถึง ท่าน ได้กู้ยืมเงินทุนประกอบอาชีพจากกองทุนผู้สูงอายุไป เป็นเงินจำนวน</div>
					<div style="text-indent:0%"><div class="text-underline" style="width:20%">{{currency loanAmount}}</div> บาท (<div class="text-underline" style="width:41%">{{dashed loanAmountText}}</div>) โดยมี  <div class="text-underline" style="width:25%">{{checkEmptyReturnDashed guarantor.fullName}}</div></div>
					เป็นผู้ค้ำประกัน นั้น
				</div>  
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<div class="indent text-justify">
					{{checkEmptyReturnDashed organization.orgName}} ขอแจ้งว่าขณะนี้ท่านผิดนัดชำระหนี้ไม่เป็นไปตามสัญญากู้ยืมเงินทุนประกอบอาชีพจากกองทุนผู้สูงอายุ โดยข้อมูล ณ วันที่
					<div class="text-underline" style="width:25%">{{formatThaiDate asOfDate false}}</div>
					เป็นเงินคงเหลือทั้งหมดจำนวน  <div class="text-underline" style="width:28%">{{currency outstandingDebtBalance}}</div>บาท (<div class="text-underline" style="width:36%">{{dashed outstandingDebtBalanceText}}</div>) 
					ดังนั้น จึงขอให้ท่านนำเงินไปชำระหนี้คืนกองทุนผู้สูงอายุทั้งหมด ภายใน 10 วัน นับแต่วันที่ได้รับหนังสือฉบับนี้ ที่ร้านสะดวกซื้อ 7-Eleven ทุกสาขาทั่วประเทศ หรือร้านค้าที่มีตราสัญลักษณ์เคาน์เตอร์เซอร์วิส โดยให้แจ้งเลขที่บัตรประจำตัวประชาชนของผู้กู้ยืมพร้อมจำนวนเงินที่ต้องชำระคืน หากพ้นกำหนดเวลาดังกล่าว แล้วท่านยังคงเพิกเฉยไม่ชำระหนี้คืนกองทุนผู้สูงอายุ
					{{checkEmptyReturnDashed organization.orgName}} มีความจำเป็นต้องดำเนินการทางกฎหมายต่อไป
				</div>  
			</div>
		</div>
		<div class="row mb-5">
			<div class="col">
					<div class="indent">
						จึงเรียนมาเพื่อดำเนินการ และ<div class="text-underline">ขออภัยหากท่านได้ชำระเงินก่อนได้รับหนังสือฉบับนี้ </div>
					</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:50px">
			<div class="col-6"></div>
			<div class="col-6 text-left" style="padding:0">
						ขอแสดงความนับถือ
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-6 text-center">
					<div>
						<div  style="width:95%">(&nbsp{{checkEmpty organization.agreementAuthorizedTitle}}{{checkEmpty organization.agreementAuthorizedFirstname}}&nbsp&nbsp{{checkEmpty organization.agreementAuthorizedLastname}}&nbsp)</div>
					</div>
					<div>
							<div  style="width:100%">{{checkEmpty organization.agreementAuthorizedPosition}}</div>
					</div>
					<div>
							{{!-- <div class="text-underline" style="width:100%">&nbsp</div> --}}
					</div>
			</div>
			<div class="col-2"></div>
		</div>
	</div>		
	{{/if}}
	<div class="container footer">
		<div class="row">
			<div class="col-12">
				<div>
					<div class="text-underline">{{checkEmptyReturnDashed organization.orgName}}</div>
					<br/>โทร <div class="text-underline" style="width:24%">{{checkEmptyReturnDashed organization.telephone}}</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
