<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        {#asset /asset/table-style.css @encoding=utf8}

        @font-face {
            font-family: 'THSarabunNew';
            src: url({#asset /asset/THSarabunNew.ttf @encoding=dataURI});
            format('truetype');
        }

        
        .table-th-lightgrey {
            background-color: #ebebeb;
        }

        .table-th-darkgrey {
            background-color: #d9d9d9; 
        }

        .table-th-green {
            background-color: #d1e6c9; 
        }

        .table-th-blue {
            background-color: #bed0f6;
        }

        .table-th-yellow {
            background-color: #fff2cc;
        }

        .table-th-red {
            background-color: #f0c0c1;
        }

    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th colspan="35">{{title1}}</th>
            </tr>
            <tr>
                <th colspan="35">{{title2}}</th>
            </tr>
            <tr>
                <th colspan="35">{{reportDataDate}}</th>
            </tr>
        </thead>
        <thead class="table-thread-bordered">
            <tr>
                <th class="table-th-lightgrey" rowspan="2">ลำดับที่</th>
                <th class="table-th-lightgrey" rowspan="2">เลขที่สัญญา</th>
                <th class="table-th-lightgrey" rowspan="2">ชื่อ - สกุล ผู้กู้</th>
                <th class="table-th-darkgrey" rowspan="2">เลขบัตรผู้กู้</th>
                <th class="table-th-darkgrey" rowspan="2">ชื่อผู้ค้ำ</th>
                <th class="table-th-darkgrey" rowspan="2">เลขบัตรผู้ค้ำ</th>
                <th class="table-th-lightgrey" rowspan="2">วงเงินกู้ (บาท)</th>
                <th class="table-th-lightgrey" rowspan="2">งวดละ (บาท)</th>
                <th class="table-th-lightgrey" rowspan="2">ยอดยกมา (บาท)</th>
                <th class="table-th-lightgrey" colspan="15">จ่ายชำระหนี้ในปีงบประมาณ {{fiscalYear}}</th>
                <th class="table-th-green" rowspan="2">ยอดคงเหลือ (บาท)</th>
                <th class="table-th-blue" colspan="5">รายละเอียดสัญญา</th>
                <th class="table-th-yellow" rowspan="2">วันที่ชำระล่าสุด</th>
                <th class="table-th-green" colspan="2">ครบกำหนดชำระ</th>
                <th class="table-th-red" colspan="2">ค้างชำระ</th>
            </tr>
            <tr>
                <th class="table-th-green">ช่องทางการชำระเงิน</th>
                <th class="table-th-lightgrey">ต.ค.</th>
                <th class="table-th-lightgrey">พ.ย.</th>
                <th class="table-th-lightgrey">ธ.ค.</th>
                <th class="table-th-lightgrey">ม.ค.</th>
                <th class="table-th-lightgrey">ก.พ.</th>
                <th class="table-th-lightgrey">มี.ค.</th>
                <th class="table-th-lightgrey">เม.ย.</th>
                <th class="table-th-lightgrey">พ.ค.</th>
                <th class="table-th-lightgrey">มิ.ย.</th>
                <th class="table-th-lightgrey">ก.ค.</th>
                <th class="table-th-lightgrey">ส.ค.</th>
                <th class="table-th-lightgrey">ก.ย.</th>
                <th class="table-th-green">ช่องทางการชำระเงิน</th>
                <th class="table-th-lightgrey">รวม</th>
                <th class="table-th-blue">วันที่ทำสัญญา</th>
                <th class="table-th-blue">วันที่เริ่มสัญญา</th>
                <th class="table-th-blue">วันที่สิ้นสุดสัญญา</th>
                <th class="table-th-blue">จำนวนงวดที่ต้องชำระ</th>
                <th class="table-th-blue">จำนวนเงินงวดสุดท้าย (กรณีพิเศษ)</th>
                <th class="table-th-green">จำนวนงวด</th>
                <th class="table-th-green">จำนวนเงิน (บาท)</th>
                <th class="table-th-red">จำนวนงวด</th>
                <th class="table-th-red">จำนวนเงิน (บาท)</th>

            </tr>
        </thead>
        <tbody class="table-body-bordered">
            {{#each data}}

            <tr>
                <td class="text-center">{{getOrderNumber @index}}</td>
                <td>{{checkEmpty documentNumber}}</td>
                <td>{{checkEmpty borrowerName}}</td>
                <td>{{checkEmpty borrowerIdCardNo}}</td>
                <td>{{checkEmpty guarantorName}}</td>
                <td>{{checkEmpty guarantorIdCardNo}}</td>
                <td class="text-right">{{currency loanAmount true}}</td>
                <td class="text-right">{{currency installmentAmount true}}</td>
                <td class="text-right">{{currency broughtForward true}}</td>
                <td class="text-right">{{checkEmpty paymentType}}</td>
                <td class="text-right">{{currency totalPaidOctober true}}</td>
                <td class="text-right">{{currency totalPaidNovember true}}</td>
                <td class="text-right">{{currency totalPaidDecember true}}</td>
                <td class="text-right">{{currency totalPaidJanuary true}}</td>
                <td class="text-right">{{currency totalPaidFebruary true}}</td>
                <td class="text-right">{{currency totalPaidMarch true}}</td>
                <td class="text-right">{{currency totalPaidApril true}}</td>
                <td class="text-right">{{currency totalPaidMay true}}</td>
                <td class="text-right">{{currency totalPaidJune true}}</td>
                <td class="text-right">{{currency totalPaidJuly true}}</td>
                <td class="text-right">{{currency totalPaidAugust true}}</td>
                <td class="text-right">{{currency totalPaidSeptember true}}</td>
                <td class="text-right">{{checkEmpty paymentType}}</td>
                <td class="text-right">{{currency totalPaidAllMonth true}}</td>
                <td class="text-right">{{currency outstandingDebtBalance true}}</td>
                <td>{{formatThaiDate documentDate}}</td>
                <td>{{formatThaiDate startDate}}</td>
                <td>{{formatThaiDate endDate}}</td>
                <td class="text-right">{{checkEmpty installmentTimes}}</td>
                <td class="text-right">{{currency installmentLastAmount true}}</td>
                <td>{{formatThaiDate lastPaidDate}}</td>
                <td class="text-right">{{checkEmpty installmentsTimesDue}}</td>
                <td class="text-right">{{currency installmentsAmountDue true}}</td>
                <td class="text-right">{{checkEmpty installmentsTimesOverDue}}</td>
                <td class="text-right">{{currency installmentsAmountOverDue true}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</body>

</html>