<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        {#asset /asset/bootstrap.min.css @encoding=utf8}
		{#asset /asset/main.css @encoding=utf8}


        @font-face {
            font-family: 'THSarabunNew';
            src: url({#asset /asset/THSarabunNew.ttf @encoding=dataURI});
            format('truetype');
        }

        * {
            font-family: 'THSarabunNew';
        }

		.text-header {
			font-weight: bold;
		}
		.text-header-underline {
			font-weight: bold;
			text-decoration: underline;
		}

		.section-memonote {
			overflow: hidden;
		}
    </style>
  </head>
<body class="form-body">
	<div class="container mb-1">
		<div class="row mb-4">
			<div class="col-3">
            </div>
			<div class="col-6 text-center">
				<img src="{#asset /asset/logo.png @encoding=dataURI}" />
				<h1>
					บันทึกถ้อยคำ
				</h1>
			</div>
			<div class="col-3">
			</div> 
		</div>
		<div class="row">
			<div class="col text-right" style="text-align:justify">
				เขียนที่ <div class="text-underline" style="width:45%" >{{checkEmpty location}}</div>
			</div> 
		</div>
		<div class="row text-justify">
			<div class="col text-right">
				วันที่ <div class="text-underline" style="width:45%" >{{checkEmpty documentDate}}</div>
			</div> 
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="text-header mb-2">
					ข้อมูลผู้กู้ยืม/ผู้ค้ำประกัน
				</div> 
				<div class="indent mb-4">
					สัญญากู้/หนังสือสัญญาค้ำประกัน เลขที่ <div class="text-underline mb-2 pull-right"  style="width:21%" >{{checkEmptyReturnDashed agreementDocumentNumber}}</div>  
					ลงวันที่ <div class="text-underline mb-2 " style="width:20%" >{{checkEmpty agreementDocumentDate}}</div>  
				   <br/> 
                    ปัจจุบันผู้กู้ยืมค้างชำระจำนวน <div class="text-underline mb-2" style="width:25%" >{{currency overDueBalance}}</div> 
                    บาท<br/> 
				</div>
				<div class="text-header mb-2">
					กรณีพบลูกหนี้ บันทึกถ้อยคำของ
				</div>
				<div class="row mb-4">
					<div class="col-3">
						<input name="memoInformerType" value="B" type="checkbox" {{checkType memoInformer "B"}} ><span class="pl-2">ผู้กู้ยืม </span>
					</div>
					<div class="col-3">
						<input name="memoInformerType" value="G" type="checkbox"  {{checkType memoInformer "G"}}><span class="pl-2">ผู้ค้ำประกัน </span>
					</div>
					<div class="col-3"></div>
					<div class="col-3"></div>
                </div>
				<div class="text-header mb-2">
					กรณีไม่พบลูกหนี้ บันทึกถ้อยคำของ
				</div>
				<div class="row mb-4">
					<div class="col-12">
						<input name="memoInformerType" value="BW" type="checkbox"  {{checkType memoInformer "BW"}}><span class="pl-2">บุคคลที่น่าเชื่อถือที่ทราบข้อมูลของผู้กู้ยืม มีความเกี่ยวข้องกับผู้กู้ยืมโดยเป็น  </span><div class="text-underline mb-2 pull-right"  style="width:30%" >{{checkMemoInformerRelationshipType memoInformer "BW" memoInformerRelationship}}</div>
					</div>
					<div class="col-12">
						<input name="memoInformerType" value="GW" type="checkbox"  {{checkType memoInformer "GW"}}><span class="pl-2">บุคคลที่น่าเชื่อถือที่ทราบข้อมูลของผู้ค้ำประกัน มีความเกี่ยวข้องกับผู้ค้ำประกันโดยเป็น  </span><div class="text-underline mb-2 pull-right"  style="width:50%" >{{checkMemoInformerRelationshipType memoInformer "GW" memoInformerRelationship}}</div>
					</div>
				</div>
				<div class="indent mb-4">
					ข้าพเจ้า <div class="text-underline mb-2 pull-right"  style="width:58%">{{checkEmptyReturnDashed fullName}}</div>  
					อายุ <div class="text-underline mb-2 " style="width:12%" >{{checkEmptyReturnDashed age}}</div>ปี  
				   <br/> 
                    ประกอบอาชีพ <div class="text-underline mb-2" style="width:34%">{{checkEmptyReturnDashed occupation}}</div> 
                    บ้านเลขที่ <div class="text-underline mb-2" style="width:8%">{{checkEmptyReturnDashed currentAddress.houseNo}}</div> 
                    หมู่บ้าน/อาคาร <div class="text-underline mb-2" style="width: 19.5%">{{checkEmptyReturnDashed currentAddress.buildingName}}</div> <br/>
                    เลขที่ห้อง <div class="text-underline mb-2" style="width:10%" >{{checkEmptyReturnDashed currentAddress.roomNo}}</div> 
                    ชั้น <div class="text-underline mb-2" style="width:8%">{{checkEmptyReturnDashed currentAddress.floor}}</div> 
                    หมู่ที่ <div class="text-underline mb-2" style="width:10%">{{checkEmptyReturnDashed currentAddress.hmoo}}</div>  
                    ซอย <div class="text-underline mb-2" style="width:20%">{{checkEmptyReturnDashed currentAddress.soi}}</div> 
                    ถนน <div class="text-underline mb-2" style="width:22.5%">{{checkEmptyReturnDashed currentAddress.street}}</div> <br/>
                    ตำบล/แขวง <div class="text-underline mb-2" style="width:25%">{{checkEmptyReturnDashed currentAddress.subDistrict}}</div> 
                    อำเภอ/เขต <div class="text-underline mb-2" style="width:22%">{{checkEmptyReturnDashed currentAddress.district}}</div> 
                    จังหวัด <div class="text-underline mb-2" style="width:22%">{{checkEmptyReturnDashed currentAddress.province}}</div> <br/>
                    รหัสไปรษณีย์ <div class="text-underline mb-2" style="width:25%">{{checkEmptyReturnDashed currentAddress.zipcode}}</div> โทรศัพท์ <div class="text-underline mb-2" style="width:25%">{{checkEmptyReturnDashed mobilePhone}}</div><br/> 
				</div> 
				<div class="row">
					<div class="col indent">
						{{#if memoNote}}
							<div class="section-memonote text-justify" style="height:2ุ60px;margin-bottom: 43px">
								ข้อให้ถ้อยคำ ดังนี้ <div class="text-underline-inline">{{memoTitle}} {{memoNote}}</div>
							</div>
						{{else}}
							<div class="section-memonote" style="height:260px;margin-bottom: 43px">
								ข้อให้ถ้อยคำ ดังนี้ี้ <div class="text-underline" style="width:67.9%"></div>
								&nbsp<div class="text-underline" style="width:99.2%"></div>
								&nbsp<div class="text-underline" style="width:99.2%"></div>
								&nbsp<div class="text-underline" style="width:99.2%"></div>
								&nbsp<div class="text-underline" style="width:99.2%"></div>
								{{!-- &nbsp<div class="text-underline" style="width:99.2%"></div> --}}
							</div>
						{{/if}}
					</div> 
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row" style="margin-bottom:32px">
			<div class="col-3">
			</div>
			<div class="col-6 text-center">
				<div>
					ลงชื่อ<div class="text-underline mb-3" style="width:70%">
						&nbsp
					</div>ผู้ให้ถ้อยคำ <br/>
					(<div class="text-underline mb-3" style="width:96%">
						{{checkEmptyReturnDashed fullName}}
					</div>)
				</div>
			</div>
			<div class="col-3">
			</div>
        </div>
		<div class="row">
			<div class="col-6 text-center">
				<div>
					ลงชื่อ<div class="text-underline mb-3" style="width:63%">
						&nbsp
					</div>ผู้บันทึก/พยาน <br/>
					(<div class="text-underline mb-3" style="width:97%">
						{{checkEmptyReturnDashed interviewerName}}
					</div>)
					ตำแหน่ง<div class="text-underline mb-3" style="width:84%">
						{{checkEmptyReturnDashed interviewerPosition}}
					</div>
				</div>
			</div>
			<div class="col-6 text-center">
				<div>
					ลงชื่อ<div class="text-underline mb-3" style="width:78%">
						&nbsp
					</div>พยาน <br/>
					(<div class="text-underline mb-3" style="width:96%">
						&nbsp
					</div>)
				</div>
			</div>
        </div>
	</div>
	
</body>
</html>
