<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        {#asset /asset/bootstrap.min.css @encoding=utf8}
		{#asset /asset/main.css @encoding=utf8}

        @font-face {
            font-family: 'THSarabunNew';
            src: url({#asset /asset/THSarabunNew.ttf @encoding=dataURI});
            format('truetype');
        }

        * {
            font-family: 'THSarabunNew';
        }

		.border-fit-content {
			display: inline-block;
			border: 1px solid;
			padding-left: 18px;
			padding-right:18px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
    </style>
  </head>
<body class="form-body">
	<div class="container">
		<div class="row mb-4">
			<div class="col-4">
				<div style="margin-top: 158px">ที่</div>
				</div>
			<div class="col-3 text-center no-margin-padding">
				<img class="garuda-img" src="{#asset /asset/garuda_logo.png @encoding=dataURI}"/>
			</div>
			<div class="col-5">
				{{!-- <div class="border-fit-content" style="font-size:70px">
					บอกเลิกผู้กู้ยืม
				</div> --}}
				<div class="text-left" style="margin-top:32px">
					<div style="width:100%">{{checkEmpty organization.orgName}}</div>
					<div>{{checkEmptyReturnDashed organization.address.houseNo}}&nbsp;{{checkEmpty organization.address.buildingName}}
					หมู่&nbsp;{{checkEmptyReturnDashed organization.address.hmoo}}&nbsp;&nbsp;ถนน{{checkEmptyReturnDashed organization.address.street}}
					{{checkEmptyReturnDashed organization.address.subDistrict}}
					{{checkEmptyReturnDashed organization.address.district}}
					{{checkEmptyReturnDashed organization.address.province}} {{checkEmptyReturnDashed organization.address.zipcode}}</div>
				</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col-6"></div>
			<div class="col-6" style="padding-left:35px">{{checkEmptyReturnDashed formDataDate}}</div>
		</div>
	</div>
	<br/>
	<div class="container mb-3">
		<div class="row">
			<div class="col">
				เรื่อง บอกเลิกสัญญาและให้ชำระหนี้
			</div> 
		</div>
		<div class="row">
			<div class="col">
				เรียน <div class="text-underline" style="width:26%">{{checkEmptyReturnDashed borrower.fullName}}</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col">
				อ้างถึง หนังสือสัญญากู้ยืมเลขที่ <div class="text-underline" style="width:18%">{{checkEmptyReturnDashed agreementDocumentNumber}}</div>  
				ลงวันที่ <div class="text-underline" style="width:25%">{{formatThaiDate agreementDocumentDate}}</div>  
			</div> 
		</div>
	</div>  
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="indent text-justify">
					<div>ตามที่อ้างถึง ท่านได้กู้ยืมเงินทุนประกอบอาชีพจากกองทุนผู้สูงอายุเป็นจำนวน
					{{currency loanAmount}} บาท ( {{dashed loanAmountText}} ) โดยมี {{checkEmptyReturnDashed guarantor.fullName}} 
					เป็นผู้ค้ำประกัน ตกลงผ่อนชำระเป็นรายเดือน เดือนละงวดเป็นเงิน งวดละ {{currency installmentAmount}} บาท งวดแรกชำระ 
					ภายในวันที่ {{checkEmptyReturnDashed installmentFirstDate}} งวดต่อไป ชำระภายในวันที่ 5 ของทุกเดือน รวมทั้งสิ้น
					{{checkEmptyReturnDashed installmentTimes}} งวด/เดือน นั้น</div>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<div class="indent text-justify">
					{{checkEmptyReturnDashed organization.orgName}} ขอแจ้งว่าท่านผิดนัดชำระหนี้สัญญากู้ยืมเงินทุนประกอบอาชีพจากกองทุนผู้สูงอายุ เป็นเหตุให้{{checkEmptyReturnDashed organization.orgName}}
					ได้รับความเสียหาย ในการนี้{{checkEmptyReturnDashed organization.orgName}}จึงขอบอกเลิกสัญญากับท่าน
					โดยให้สัญญามีผลเป็นอันสิ้นสุดลงนับแต่ได้รับหนังสือฉบับนี้ และขอให้ท่านชำระหนี้คืนกองทุนผู้สูงอายุเป็นเงินจำนวนทั้งสิ้น 
					{{ currency outstandingDebtBalance}} บาท 
					( {{dashed outstandingDebtBalanceText}} ) ภายใน 10 วัน นับแต่วันที่ได้รับหนังสือฉบับนี้ ตามวิธีการชำระหนี้ของกองทุนผู้สูงอายุซึ่งท่านทราบดีแล้ว
					หากพ้นกำหนดเวลา ท่านยังคงเพิกเฉยไม่ชำระหนี้ให้เสร็จสิ้น {{checkEmptyReturnDashed organization.orgName}}มีความจำเป็นต้องดำเนินการทางกฎหมายกับท่านต่อไป 
					
				</div>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col">
				<div class="indent">
					จึงเรียนมาเพื่อดำเนินการ และขออภัยหากท่านชำระเงินแล้วก่อนได้รับหนังสือฉบับนี้
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:120px">
			<div class="col-6"></div>
			<div class="col-6 text-left" style="padding:0">
				ขอแสดงความนับถือ
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-6 text-center">
				<div>
						<div  style="width:95%">(&nbsp{{checkEmpty organization.agreementAuthorizedTitle}}{{checkEmpty organization.agreementAuthorizedFirstname}}&nbsp&nbsp{{checkEmpty organization.agreementAuthorizedLastname}}&nbsp)</div>
					</div>
					<div>
							<div  style="width:100%">{{checkEmpty organization.agreementAuthorizedPosition}}</div>
					</div>
					<div>
							{{!-- <div class="text-underline" style="width:100%">&nbsp</div> --}}
					</div>
			</div>
			<div class="col-2"></div>
		</div>
	</div>
	<div class="container footer">
		<div class="row">
			<div class="col-12">
				<div>
					<div class="text-underline">{{checkEmptyReturnDashed organization.orgName}}</div>
					<br/>โทร <div class="text-underline" style="width:24%">{{checkEmptyReturnDashed organization.telephone}}</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
