<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        {#asset /asset/bootstrap.min.css @encoding=utf8}
		{#asset /asset/main.css @encoding=utf8}

        @font-face {
            font-family: 'THSarabunNew';
            src: url({#asset /asset/THSarabunNew.ttf @encoding=dataURI});
            format('truetype');
        }

        * {
            font-family: 'THSarabunNew';
        }

		.border-fit-content {
			display: inline-block;
			border: 1px solid;
			padding-left: 18px;
			padding-right:18px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
    </style>
  </head>
<body class="form-body">
	<div class="container">
		<div class="row mb-4">
			<div class="col-4">
				<div style="margin-top: 158px">ที่</div>
				</div>
			<div class="col-4 text-center no-margin-padding">
				<img class="garuda-img" src="{#asset /asset/garuda_logo.png @encoding=dataURI}"/>
			</div>
			<div class="col-4">
				<div class="border-fit-content" style="font-size:70px">
					บอกเลิกผู้กู้ยืม
				</div>
				<div class="text-left" style="margin-top:32px">
					<div style="width:100%">{{checkEmptyReturnDashed organization.address.buildingName}}</div>
					อำเภอ <div class="text-underline" style="width:79%">{{checkEmptyReturnDashed organization.address.district}}</div>
					จังหวัด <div class="text-underline" style="width:78%">{{checkEmptyReturnDashed organization.address.province}}</div>
				</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col-6"></div>
			<div class="col-6" style="padding-left:35px">{{checkEmptyReturnDashed formDataDate}}</div>
		</div>
	</div>
	<br/>
	<div class="container mb-3">
		<div class="row">
			<div class="col">
				เรื่อง บอกเลิกสัญญาและให้ชำระหนี้
			</div> 
		</div>
		<div class="row">
			<div class="col">
				เรียน <div class="text-underline" style="width:26%">{{checkEmptyReturnDashed borrower.fullName}}</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col">
				อ้างถึง หนังสือสัญญากู้ยืมเลขที่ <div class="text-underline" style="width:18%">{{checkEmptyReturnDashed agreementDocumentNumber}}</div>  
				ลงวันที่ <div class="text-underline" style="width:25%">{{formatThaiDate agreementDocumentDate}}</div>  
			</div> 
		</div>
	</div>  
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="indent text-justify">
					<div>ตามสัญญาที่อ้างถึง ท่าน ได้กู้ยืมเงินทุนประกอบอาชีพจากกองทุนผู้สูงอายุไป เป็นจำนวน</div>
					<div class="text-underline" style="width:18%">{{currency loanAmount}}</div>บาท (<div class="text-underline" style="width:41%">{{dashed loanAmountText}}</div>) โดยมี <div class="text-underline" style="width:25%">{{checkEmptyReturnDashed guarantor.fullName}}</div> 
					<div style="text-indent:0%">เป็นผู้ค้ำประกัน ตกลงผ่อนชำระเป็นรายเดือน เดือนละงวด เป็นเงินงวดละ <div class="text-underline" style="width:19.5%">{{currency installmentAmount}}</div>บาท งวดแรกชำระ </div>
					<div style="text-indent:0%">ภายในวันที่ <div class="text-underline" style="width:42%">{{checkEmptyReturnDashed installmentFirstDate}}</div> งวดต่อไป ชำระภายในวันที่ 5 ของทุกเดือน รวมทั้งสิ้น </div>
					<div class="text-underline" style="width:10%">{{checkEmptyReturnDashed installmentTimes}}</div> เดือน นั้น
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<div class="indent text-justify">
					<div>บัดนี้ ท่านผิดนัดชำระหนี้ไม่นำเงินมาผ่อนชำระตามกำหนดเวลาดังกล่าว เป็นเหตุให้กองทุน </div>
					ผู้สูงอายุได้รับความเสียหาย จังหวัด <div class="text-underline" style="width:29%">{{checkEmptyReturnDashed organization.address.province}}</div> จึงขอบอกเลิกสัญญาโดยให้มีผลเป็นผลเป็นอัน
					สิ้นสุดลง นับแต่วันที่ได้รับหนังสือฉบับนี้ และขอให้ท่านนำเงินคงเหลือทั้งสิ้นจำนวน <div class="text-underline" style="width:24.5%">{{currency outstandingDebtBalance}}</div>บาท 
					(<div class="text-underline" style="width:38%">{{dashed outstandingDebtBalanceText}}</div>) มาชำระภายใน 15 วัน นับแต่วันที่ได้รับหนังสือนี้ หากพ้นกำหนดแล้ว
					ท่านยังเพิกเฉยหรือไม่ชำระหนี้ จังหวัด <div class="text-underline" style="width:31%">{{checkEmptyReturnDashed organization.address.province}}</div> มีความจำเป็นต้องฟ้องร้องดำเนินคดีตาม
					ขั้นตอนกฎหมาย เพื่อบังคับชำระหนี้ต่อไป
				</div>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col">
				<div class="indent">
					จึงเรียนมาเพื่อทราบและดำเนินการ
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:120px">
			<div class="col-6"></div>
			<div class="col-6 text-left" style="padding:0">
				ขอแสดงความนับถือ
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-6 text-center">
					<div>
						(<div class="text-underline"  style="width:95%">&nbsp</div>)
					</div>
					<div>
							<div class="text-underline" style="width:100%;height:35px">&nbsp</div>
					</div>
					<div>
							<div class="text-underline" style="width:100%;height:43px">&nbsp</div>
					</div>
			</div>
			<div class="col-2"></div>
		</div>
	</div>
	<div class="container footer">
		<div class="row">
			<div class="col-12">
				<div>
					<div class="text-underline">{{checkEmptyReturnDashed organization.orgName}}</div>
					<br/>โทร <div class="text-underline" style="width:24%">{{checkEmptyReturnDashed organization.telephone}}</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
