<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        {#asset /asset/bootstrap.min.css @encoding=utf8}
		{#asset /asset/main.css @encoding=utf8}

        @font-face {
            font-family: 'THSarabunNew';
            src: url({#asset /asset/THSarabunNew.ttf @encoding=dataURI});
            format('truetype');
        }

        * {
            font-family: 'THSarabunNew';
        }

		.border-fit-content {
			display: inline-block;
			border: 1px solid;
			padding-left: 18px;
			padding-right:18px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
    </style>
  </head>
<body class="form-body">
	<div class="container">
		<div class="row mb-4">
			<div class="col-4">
				<div style="margin-top: 158px">ที่</div>
				</div>
			<div class="col-3 text-center no-margin-padding">
				<img class="garuda-img" src="{#asset /asset/garuda_logo.png @encoding=dataURI}"/>
			</div>
			<div class="col-5">
				{{!-- <div class="border-fit-content" style="font-size:62px">
					บอกผู้ค้ำประกัน
				</div> --}}
				<div class="text-left" style="margin-top:32px">
					<div style="width:100%">{{checkEmpty organization.orgName}}</div>
					<div>{{checkEmptyReturnDashed organization.address.houseNo}}&nbsp;{{checkEmpty organization.address.buildingName}}
					หมู่&nbsp;{{checkEmptyReturnDashed organization.address.hmoo}}&nbsp;&nbsp;ถนน{{checkEmptyReturnDashed organization.address.street}}
					{{checkEmptyReturnDashed organization.address.subDistrict}}
					{{checkEmptyReturnDashed organization.address.district}}
					{{checkEmptyReturnDashed organization.address.province}} {{checkEmptyReturnDashed organization.address.zipcode}}</div>
				</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col-6"></div>
			<div class="col-6" style="padding-left:35px">{{checkEmptyReturnDashed formDataDate}}</div>
		</div>
	</div>
	<br/>
	<div class="container mb-3">
		<div class="row">
			<div class="col">
				เรื่อง บอกเลิกสัญญา และให้ผู้ค้ำประกันชำระหนี้แทนผู้กู้ยืม
			</div> 
		</div>
		<div class="row">
			<div class="col">
				เรียน <div class="text-underline" style="width:39.5%">{{checkEmptyReturnDashed guarantor.fullName}}</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col">
				อ้างถึง หนังสือสัญญาค้ำประกันเลขที่ <div class="text-underline" style="width:20%">{{checkEmptyReturnDashed guaranteeDocumentNumber}}</div>  
				ลงวันที่ <div class="text-underline" style="width:20%">{{formatThaiDate guaranteeDocumentDate}}</div>  
			</div> 
		</div>
		<div class="row">
			<div class="col">
				<div class="d-inline-block" style="width:16%">สิ่งที่ส่งมาด้วย</div>สำเนาหนังสือกรมกิจการผู้สูงอายุ ที่  <div class="text-underline" style="width:20%"></div> 
				ลงวันที่ <div class="text-underline" style="width:20%"></div>  
			</div> 
		</div>
		{{!-- <div class="row">
			<div class="col">
				<div class="indent text-justify">
					2. สำเนาหนังสือจังหวัด <div class="text-underline" style="width:16%"></div>  
					ที่ <div class="text-underline" style="width:14%"></div>  
					ลงวันที่ <div class="text-underline" style="width:20%"></div>  
				</div>
			</div> 
		</div> --}}
	</div>  
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="indent text-justify">
					<div>ตามที่อ้างถึง ท่านได้ผู้ค้ำประกันการกู้ยืมเงินทุนประกอบอาชีพจากกองทุนผู้สูงอายุ เป็นเงินจำนวน {{currency loanAmount}} บาท ({{dashed loanAmountText}})
					ของ {{checkEmptyReturnDashed borrower.fullName}} ในสัญญากู้ยืมเลขที่ {{checkEmptyReturnDashed agreementDocumentNumber}} ลงวันที่ {{formatThaiDate agreementDocumentDate}}
					ต่อมาผู้กู้ยืมผิดสัญญาทำให้มีหนี้ค้างชำระเป็นเงินจำนวนทั้งสิ้น {{currency outstandingDebtBalance}} บาท ({{dashed outstandingDebtBalanceText}})
					เป็นเหตุให้กรมกิจการผู้สูงอายุได้รับความเสียหาย นั้น    </div>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<div class="indent text-justify">
					<div> {{checkEmptyReturnDashed organization.orgName}} ขอแจ้งว่าขณะนี้ได้มีหนังสือบอกเลิกสัญญาไปยังผู้กู้ยืมแล้ว รายละเอียดตามสิ่งที่ส่งมาด้วย 
					ดังนั้น จึงขอให้ท่านชำระหนี้แทนผู้กู้ยืมในฐานะท่านเป็นผู้ค้ำประกัน 
					ซึ่งมีหน้าที่ที่ต้องรับผิดในหนี้รายนี้ด้วย โดยข้อมูล ณ วันที่ {{checkEmptyReturnDashed formDataDate}} 
					เป็นเงินจำนวนทั้งสิ้น  {{currency outstandingDebtBalance}}บาท 
					( {{dashed outstandingDebtBalanceText}}) ภายใน 10 วัน นับแต่วันที่ได้รับหนังสือฉบับนี้ ตามวิธีการชำระหนี้ของกองทุนผู้สูงอายุซึ่งท่านทราบดีแล้ว หากพ้นกำหนดเวลา ท่านยังคงเพิกเฉยไม่ชำระหนี้ให้เสร็จสิ้น  {{checkEmptyReturnDashed organization.orgName}} 
					มีความจำเป็นต้องดำเนินการทางกฎหมายกับท่านต่อไป</div>
				</div>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col">
				<div class="indent">
					จึงเรียนมาเพื่อดำเนินการ และขออภัยหากท่านชำระเงินแล้วก่อนได้รับหนังสือฉบับนี้
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:120px">
			<div class="col-6"></div>
			<div class="col-6 text-left" style="padding:0">
				ขอแสดงความนับถือ
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-6 text-center">
					<div>
						<div  style="width:95%">(&nbsp{{checkEmpty organization.agreementAuthorizedTitle}}{{checkEmpty organization.agreementAuthorizedFirstname}}&nbsp&nbsp{{checkEmpty organization.agreementAuthorizedLastname}}&nbsp)</div>
					</div>
					<div>
							<div  style="width:100%">{{checkEmpty organization.agreementAuthorizedPosition}}</div>
					</div>
					<div>
							{{!-- <div class="text-underline" style="width:100%">&nbsp</div> --}}
					</div>
			</div>
			<div class="col-2"></div>
		</div>
	</div>

	<div class="container footer">
		<div class="row">
			<div class="col-12">
				<div>
					<div class="text-underline">{{checkEmptyReturnDashed organization.orgName}}</div>
					<br/>โทร <div class="text-underline" style="width:24%">{{checkEmptyReturnDashed organization.telephone}}</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
